<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Yamifood Restaurant - Responsive HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/public/resources/views/favicon.ico" type="/public/resources/views//x-icon">
    <link rel="apple-touch-icon" href="/public/resources/views/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/responsive.css">
	<!-- Custom CSS -->
    <link rel="stylesheet" href="/public/resources/views/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<!-- Start header -->
	{{>header}}
	<!-- End header -->
	
	<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End header -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<img src="/public/resources/views/images/baker.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1>Welcome To <span>Kakefood Bakery</span></h1>
						<h4>Little Story</h4>
						<p>The story of the world's most famous bakery begins in 2001 on a quaint, cobblestone corner in the South Village where Kakefood Bakery opened its doors for the first time. The sweet smell of cakes and cookies and pies and pudding tumbled out, wafting down the streets, beckoning all in. </p>
						<p>Our red velvet cupcakes became iconic and people lined up around the block for our banana pudding. There was even talk of Ho Chi Minh city pretzel guys becoming cupcake guys. Kakefood Bakery was a destination for locals and tourists alike.</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Yeah</a>
					</div>
				</div>
				<div class="col-md-12">
					<div class="inner-pt">
						<p>It was time for us to open the cupboards and share our magic with the world. Our neighborhood bakery found its way into new neighborhoods near and far, we wrote cookbooks and helped people all over celebrate their most important moments.</p>
						<p>And while we have grown, a few things will always remain: open early and close late, a dollop of buttercream makes everything better, and our mission: make today sweeter than yesterday.  </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	
	
	<!-- Start Contact info -->
	{{>contact}}
	<!-- End Contact info -->
	
	<!-- Start Footer -->
	{{>footer}}
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="/public/resources/views/js/jquery-3.2.1.min.js"></script>
	<script src="/public/resources/views/js/popper.min.js"></script>
	<script src="/public/resources/views/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/public/resources/views/js/jquery.superslides.min.js"></script>
	<script src="/public/resources/views/js/images-loded.min.js"></script>
	<script src="/public/resources/views/js/isotope.min.js"></script>
	<script src="/public/resources/views/js/baguetteBox.min.js"></script>
	<script src="/public/resources/views/js/form-validator.min.js"></script>
    <script src="/public/resources/views/js/contact-form-script.js"></script>
    <script src="/public/resources/views/js/custom.js"></script>
</body>
</html>